.contactTitle {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
  h2 {
    font-size: 50px;
    color: #3d3d3d;
  }
  h3 {
    font-size: 18px;
    color: #595959;
    letter-spacing: 3.5px;
    font-weight: normal;
  }
}
