.cartItems {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .cartBtn {
    border: none;
    padding: 5px 10px;
    background-color: #002266;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgb(48, 140, 48);
    }
  }
  .cartItemsUl {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cartItemsOrder {
    background-color: green;
    padding: 5px 10px;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .cartItemsUl {
    font-size: 14px;
  }
}
